#root {
  width: 100%;
  text-align: center;
}

.day-theme {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 1025px;
  --first-color: red;
  --second-color: #ffbf00;
  --third-color: hsl(45, 90%, 70%);
  --fourth-color: gray;
}

.sunset-theme {
  font-family: 'Courier New', monospace;
  height: 1025px;
  background-image: linear-gradient(to bottom, rgba(255, 192, 203, 0.5), rgba(0, 255, 255, 0.5)), url('./icons/favicon.ico');
  background-repeat: repeat;
  --first-color: red;
  --second-color: cyan;
  --third-color: hsl(180, 80%, 80%);
  --fourth-color: gray;
}

.night-theme {
  font-family: Copperplate, fantasy;
  height: 1025px;
  background-color: black;
  --first-color: rgb(181, 0, 181);
  --second-color: #59b300;
  --third-color: hsl(90, 50%, 70%);
  --fourth-color: rgb(71, 71, 71);
}

.themeContainer {
  width: 150px;
  height: 30px;
  margin-top: 20px;
}

.theme-toggle {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: var(--first-color);
  border: solid 1px var(--first-color);
  box-shadow: 2px 2px 3px var(--fourth-color);
  color: var(--second-color);
}

.theme-toggle:hover {
  background-color: var(--second-color);
  border: solid 1px var(--second-color);
  cursor: pointer;
  color: var(--first-color);
}

#day-theme {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#night-theme {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.topText {
  width: 250px;
  height: 100px;
  color: var(--first-color);
  font-size: 60px;
  font-weight: bolder;
  text-shadow: 3px 3px 3px var(--fourth-color);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.topText:hover {
  cursor: help;
  color: var(--second-color);
}

.boardContainer {
  width: 522px;
  height: 504px;
  display: inline-block;
  align-items: center;
  z-index: 1;
  outline: solid 5px var(--first-color);
}

.notFilledWhite {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 1px;
  color: black;
  background-color: white;
  outline: solid 1px var(--first-color);
  border: solid 1px var(--first-color);
}

.notFilledWhite:hover {
  background: var(--third-color);
  cursor: text;
}

.notFilledColor {
  width: 50px;
  height: 50px;
  text-align: center;
  margin: 1px;
  color: black;
  background-color: lightgray;
  outline: solid 1px var(--first-color);
  border: solid 1px var(--first-color);
}

.notFilledColor:hover {
  background: var(--third-color);
  cursor: text;
}

.preFilled {
  width: 50px;
  height: 50px;
  text-align: center;
  color: black;
  font-weight: bold;
  background-color: var(--second-color);
  margin: 1px;
  outline: solid 1px var(--first-color);
  border: solid 1px var(--first-color);
}

.subgrid {
  border: solid var(--first-color);
  width: 160px;
  height: 160px;
}

.sudokuSubmit {
  margin-top: 50px;
  width: 200px;
  height: 50px;
  background-color: var(--first-color);
  border: solid var(--first-color);
  border-radius: 75px;
  color: white;
  font-weight: bold;
  box-shadow: 3px 3px 3px var(--fourth-color);
}

.sudokuSubmit:hover {
  background-color: var(--second-color);
  cursor: pointer;
}

.infoContainer {
  width: 530px;
  height: 650px;
  z-index: 5;
  background-color: var(--first-color);
  color: white;
  align-items: center;
  position: absolute;
  padding: 20px;
  font-weight: bold;
  line-height: 50px;
  left: 0;
  right: 0;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
}